extends ../base
block content
    div(class="welcome-text")
        p Welcome NAME HERE
        p What would you like to order today?
        div(id="demo")
            h1  Initial Text
        button(id="testPing", onclick="loadDoc()") Send Data
            //-form(action="https://localhost:8080/", method="post")
                input(type="text", name="testproduct")
                input(type="submit", name="testping", value="Send Test Ping")
        