extends ../base

block content
    body(onload='loadOrders()')
    div(class="account-info")
        div(class="header") Your Account
        div(id="main-info")
            div(class="profile-photo")
                //- Insert Photo here
            div(class="profile-name")
                p Alberto Rodriguez
        div(id="extra-info")
            p Associated Company: Super Mega Food Place
            p Membership: Premium
    div(id="orders")
        div(id="orders-header")
            h1 Orders
        div(id="orders-body")
        div(id="submit-final-order")
            button(id="final-order-button", onclick="submitFinalOrder()") Submit Order