extends ../base

block content
    body(onload='loadOrders()')
    div(class="account-info")
        div(class="header") Your Account
        div(id="main-info")
            div(class="profile-photo")
                //- Insert Photo here
            div(class="profile-name")
                p Alberto Rodriguez
        div(id="extra-info")
            p Associated Company: Super Mega Food Place
            p Membership: Premium
    div(id="orders")
        div(id="orders-header")
            h1 Orders
        div(id="orders-body")
            div(class="orders-single")
                div(class="orders-item")
                    img(src="/public/stock_hot.jpg" class="orders-image")
                    h2 Green Ceramic Plates
                div(class="orders-quantity")
                    p Quantity: 2
                div(class="orders-price")
                    h2 $700
        div(id="submit-final-order")
            button(id="final-order-button", onclick="submitFinalOrder()") Submit Order