extends ../base

block content
    div(class="account-info")
        div(class="header") Your Account
        div(id="main-info")
            div(class="profile-photo")
                //- Insert Photo here
            div(class="profile-name")
                p Alberto Rodriguez
        div(id="extra-info")
            p Associated Company: Super Mega Food Place
            p Membership: Premium
        div(id="orders")