html
    head
        style
            include styles.css
    header1 Supply Site
        div(class='icon')
            p LOGO HERE
        div(class='login')
            p Login Here
        div(class='nav-bar')
            p list items and categorieshere  
    body
        div(class='welcome-text')
            p Welcome NAME HERE
            p What would you like to order today?
        