body{background-color: gainsboro; margin: 0px;}
h1{color: black; font-size: 30px; font-family: 'Rubik', sans-serif;}
img{width: 100%;}
a{color: black; text-decoration: none; font-family: 'Rubik', sans-serif;}

.topbar{height: 80px; background-color: #232f3e; width: 100%;}
.topbar h1{color: slategray;}
.icon{float: left;}

.login{float: right;}
.login-form {display: block;}

.navbar{position: relative; height: 50px; background-color: #232f3e; display: flex; justify-content: space-evenly;}
.navbar p{color: slategray;}
#home-tab{display: inline-block; margin-left: 30; margin-right: 30;}
#catalog-tab{display: inline-block; margin-left: 30; margin-right: 30;}
#contact-tab{display: inline-block; margin-left: 30; margin-right: 30;}
p{color: black; font-family: 'Rubik', sans-serif;}

#home-sidebar{width: 280px; position: fixed; z-index: 1; overflow-x: hidden; height: fit-content;}
.home-link{font-size: 30px; display: block; border-style: solid; border-color: lightgrey;}

.welcome-text {margin-left: 280px;}

.home-image{display: block; margin-left: auto; margin-right:auto; width:auto; height:47.5%;}

#catalog-home-info {margin-left: 286px;}

#catalog-sidebar{float: left; width: 280px; position: relative; height: fit-content; font-size: 30px; display: block; border-style: solid; border-color: lightgrey;}
.sidebar-link{width: 100%; height: fit-content; display: block; border-bottom-style: solid; border-color: lightgrey;}

#item-grid{margin-left: 286px; display: flex; flex-wrap: wrap;}
.item-tile{margin: 30px; width: 25%; border-color: gray; border-style: solid;}  /* Set background color to new color*/


.account-info {width: 450px; height: fit-content; border-style: solid; border-width: 2px;}
.account-info .header {float: left;  width: 100%; border-bottom-style: solid; border-width: 2px;}

#item-listing{margin-left: 286px;}
#item-listing-photo{float: left; height: fit-content; width: 50%; position: relative;}
#item-listing-info{float: right; width: 50%;}
#item-listing-description{position: relative; width: 300;}