html, body {height: 100%;min-height: 100%; margin: 0;padding: 0; border: 0;}
body{background-color: white; margin: 0px;}
h1{color: black; font-size: 30px; font-family: 'Rubik', sans-serif;}
img{width: 100%;}
a{color: black; text-decoration: none; font-family: 'Rubik', sans-serif;}

.topbar{height: 80px; background-color: white; width: 100%;}
.topbar h1{color: #232f3e;}
.icon{float: left;}

.login{float: right;}
.login-form {display: block;}

.footer {position:relative ; height: 55px; left: 0; bottom: 0; width: 100%; padding: 5px; background-color: #232f3e; }
.foot-link{justify-content: space-evenly; color:white;  float: left; display: block; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 15px;}
.foot-info{font-size: 15px; color: white; float: right; display: block; text-align: center; padding: 14px 16px; text-decoration: none; justify-content:space-evenly;}

.navbar{position: relative; height: 50px; background-color: #232f3e; display: flex; justify-content: space-evenly;}
.navbar p{color: white;}

#home-tab{display: inline-block; margin-left: 30; margin-right: 30;}
#catalog-tab{display: inline-block; margin-left: 30; margin-right: 30;}
#contact-tab{display: inline-block; margin-left: 30; margin-right: 30;}
p{color: black; font-family: 'Rubik', sans-serif;}

#home-sidebar{width: 280px; position: fixed; z-index: 1; overflow-x: hidden; height: fit-content;}
.home-link{font-size: 30px; display: block; border-style: solid; border-color:#232f3e;border-left-color:white;border-width: thin;}

.welcome-text {margin-left: 280px;}

.home-image{display: block; margin-left: auto; margin-right:auto; width:auto; height:47.5%;}

#catalog-home-info {margin-left: 286px; padding-bottom: 40px; min-height: 100%;}

#catalog-sidebar{float: left; width: 280px; position: relative; height: fit-content; font-size: 30px; display: block; border-style: solid; border-color: #232f3e; border-left-color:white; border-width: thin;}
.sidebar-link{width: 100%; height: fit-content; display: block; border-bottom-style: solid; border-color: #232f3e; border-width: thin;}

#item-grid{margin-left: 286px; display: flex; flex-wrap: wrap;}
.item-tile{margin: 30px; width: 25%; border-color: gray; border-style: solid;}  /* Set background color to new color*/



/***********************************************************************
******************************* MY ACCOUNT *****************************
************************************************************************/
.account-info {width: 450px; height: fit-content; margin: auto; border-style: solid; border-width: 2px;}
.account-info .header {float: left;  width: 100%; border-bottom-style: solid; border-width: 2px;}

#orders{width: 825px; margin-left: auto; margin-right: auto; margin-bottom: 75px; margin-top: 25px; border-style: outset;}
#orders-body{display: flex; flex-direction: column;}
.orders-single{display: inline-flex; align-items: baseline; justify-content: space-around;}
.orders-item{display: inline-flex; align-items: baseline; width: 400px;}
.orders-image{width: 30px; height: 30px;}


#item-listing{margin-left: 286px;}
#item-listing-photo{float: left; height: fit-content; width: 50%; position: relative;}

#item-listing-info{float: right; width: 50%;}
#item-listing-description{position: relative; width: 300;}
