html
    head
        style
            include ../styles.css
            link(href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet")
            meta(name="viewport" content="width=device-width, initial-scale=1")
        block scripts
            script(type="text/javascript", src="../js/login.js")
            script(type="text/javascript", src="../js/loader.js")
            //script(src="/socket.io/socket.io.js")
    body
        block topbar
            div(class="topbar")
                div(class="icon")
                    h1 ResturSHOP
                div(class="login")
                    form(name="loginForm", id="loginForm")
                        input(type="text", name="username", id="username", class="login-form")
                        input(type="password", name="login", id="password", class="login-form")
                        button(type="button", onClick="submitLogin()") Login
        block navigation
            div(class="navbar")
                a(id="home-tab", href="/")
                    p Home
                a(id="catalog-tab", href="/catalog/catalog-home")
                    p Catalog
                a(id="contact-tab", href="/connect")
                    p Contact Us
                a(id="My Account", href="/account/myAccount")
                    p My Account
            b
        block sidebar
        block content
        block footer
            div(class="footer")
                a(class="foot-link",href="/") Home
                a(class="foot-link",href="/About") About
                a(class="foot-link",href="/Contact") Contact
                p Cal State Fullerton
                p 800 N State College Blvd
                p Fullerton, CA 92831
                p (657) 278-2011
                    
                        

                        
                

                    

           

                  