extends catalog-home.pug
block content
    div(class="item-grid")
        div(class="item-tile")
            div(class="item-tile-photo")
                img(src="/public/plates.jpg")
            div(class="item-tile-description")
                h1 White Ceramic
                p Beautiful ceramic plates useful for any occaison 
        div(class="item-tile")
            div(class="item-tile-photo")
                img(src="/public/plates.jpg")
            div(class="item-tile-description")
                h1 White Ceramic
                p Beautiful ceramic plates useful for any occaison 
        div(class="item-tile")
            div(class="item-tile-photo")
                img(src="/public/plates.jpg")
            div(class="item-tile-description")
                h1 White Ceramic
                p Beautiful ceramic plates useful for any occaison
        div(class="item-tile")
            div(class="item-tile-photo")
                img(src="/public/plates.jpg")
            div(class="item-tile-description")
                h1 White Ceramic
                p Beautiful ceramic plates useful for any occaison  
            //-form(action="https://localhost:8080/", method="post")
                input(type="text", name="testproduct")
                input(type="submit", name="testping", value="Send Test Ping")
        