extends catalog-home.pug
block content
    //- Runs script to load in all the items from backend
    body(onload='loadListing()')     
    div(id="demo")
        p Unable to reach Backend for Listing!!
    //- Change id name for clarity
    //-div(id="item-listing")
        div(id="item-listing-photo")
            img(src="/public/plates.jpg")
        div(id="item-listing-info")
            div(id="item-listing-title")  
                h1 White Ceramic 
            div(id="item-listing-price")
                h2 $35
            div(id="item-listing-description")
                p Item Text Description here
            div(id="item-listing-purchase")
                div(id="id-listing-price")
                input(type="text", id="orderQty", value="1")
                button(onclick="submitQty()") Order
        
        //-div(class="item-tile")
            div(class="item-tile-photo")
                img(src="/public/plates.jpg")
            div(class="item-tile-description")
                h1 White Ceramic
                p Beautiful ceramic plates useful for any occaison  