extends ../base
block content
    div(class="page-info")
        h2 Reviews
        p We are in the process of updating our review system. Sorry for the inconvience we are working around the clock to have it done in a timely fashion. 