extends ../base
block content
    div(class="page-info")
        h2 Help
        a(class="help-info",href="/help/terms-of-use") Terms & Conditions
        a(class="help-info",href="/help/privacy") Privacy Policy