extends ../base
block content
    div(class ="page-info")
        h2 Privacy
        h3 Your Privacy
        p Our Website follows all legal requirements to protect your privacy. Our Privacy Policy is a legal statement that explains how we may collect information from you, how we may share your information, and how you can limit our sharing of your information. You will see terms in our Privacy Policy that are capitalized. These terms have meanings as described in the Definitions section below.
        h3 Changes To This Privacy Policy
        p We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
        p We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.
        p You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
        h3 Contact Us
        p If you have any questions about this Privacy Policy, please contact us by using the contact information we provided on our Contact page.