extends ../base
block content
    div(class="page-info")
        h2 About
        p At ResturSHOP, we all come to work every day because we want to make it easier on resturant owners. Our mission is for use to make resupplying easier and faster then before.